.Header{
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4e5761;
    min-height: 75px;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    margin-left: 28px;
}

.LeftSide{
    display: flex;
    align-items: center;
    float: left;
}

.RightSide{
    float: right;
}